insightface==0.7.3
opencv-python==4.12.0.88
redis==6.2.0
fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
pydantic==2.11.7
python-dotenv==1.1.1
ffmpeg-python==0.2.0
numpy
pyodbc==5.2.0
onnxruntime
pytz
scikit-image==0.24.0
albumentations
scikit-learn
realesrgan
boxmot
faiss-cpu
websockets
aioredis
